data=open('nameGRADE.txt','r')
content=data.read()

names=[]
finalNames=[]
total=0
abAname=[]

for line in content: #Make a single list fields 
    fields=content.strip().split('\n')
for i in fields:    #Split Name and Grade, so that I can use index
    name=i.split(',')
    names.append(name)
for index in names:   #Add numbers to find out the average
    total+=int(index[1])
average=total/len(names)  #Makes average
for n in names:   #checks all names if they are above average
    if int(n[1])>average:
        finalNames.append(n)
for x in finalNames:
    abAname.append(x[0]) #Only adding names.

print("====================")
print("Class aberage: ",average)
print(f"Students who scored above the average: \n")
for b in abAname:
    print(b)
print("====================")
